body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://scontent.ftpe14-1.fna.fbcdn.net/v/t39.30808-6/607277754_2137378353666910_6755672680177746564_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=wo6t5v80jlkQ7kNvwGI6dVC&_nc_oc=Adk3I_LgakBh8GwGDWadZm7ZO8ohQC3pZINr27N7cYgfDuYtgOntjvPJLct2Jq9YcG0&_nc_zt=23&_nc_ht=scontent.ftpe14-1.fna&_nc_gid=BTdOqwgKmbHL-KqmTEjA0Q&oh=00_AfriZ4zyRxqq49a6jtJhwhNMW0Jtyw0LH_FqgjVqiHSbCA&oe=695C55BB");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 40px 0;
  overflow-y: auto;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0;
}
#box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.price {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.6;
}
img {
  width: 300px;
  padding: 8px;
  background: black;
}
